/* ABOUT SECTION */
.section-about {
  /* 100vh - 7vh (navbar) */
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 0;
}

.section-about p {
  text-align: justify;
}

.who-container {
  width: 100%;
}

.skills-container {
  width: 100%;
  padding: 3rem 0;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skill-component {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skill-component p {
  text-align: center;
}

.skill-component i {
  background: transparent;
  font-size: 4rem;
  color: #ffbb5c;
}

@media (max-width: 600px) {
  .section-about {
    padding: 2rem 0;
  }

  .skills-container {
    padding: 2rem 0;
  }
}
